.profilePhoto {
  grid-area: pp;
}

.profileDesc {
  grid-area: pd;
  vertical-align: middle;
  margin: 60px 0;


}

.profilePhoto img {
  width: 150px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "pp pd";

}